.active-filter {
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding: 19px;

  & .row {
    padding-right: 15px;
    padding-left: 15px;
  }

  &-item {
    font-size: 12px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    margin: 5px 5px 0 0;

    & :hover, :active, > a {
      color: black;
      background-color: transparent !important;
    }

    .input-group{
      color:#666;
    }
  }
}
.active-filter-item {
  background-color: #fff;
}
