.create-email-navigation-wrapper {
  ul {
    background: rgba(255, 255, 255, 0.6) !important;
    border: 1px solid #e3e3e3;
    li {
      cursor: pointer;
    }
  }
  .stepDesc {
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 0.3px;
  }
}

section.page-title ~ .swMain > ul li:last-child > a.selected .stepNumber {
  background-color: $white;
}
