.main-navigation-menu .open {
  display: block;
}

@media (min-width: 992px) {
  .app-sidebar-closed .navbar .navbar-header .navbar-brand {
    display: block;
    margin-left: 70px;
  }
}

.message-nav-icons > i {
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
}

.message-nav {
  padding: 10px 0 10px 0.5em;

  vertical-align: middle;

  @extend %clearfix;
}

.title {
  font-size: 14px;
  padding: 5px 0;
}
/* the tree node's style */
.tree-view {
  overflow-y: hidden;
}

.ti-spacer {
  margin-right: 5px;
}

/* Grid Folders */

.grid-folders-container {

}

.grid-folders-left {
  float:left;
  height: 100%;
  overflow-x: auto;
  width:100%;
}

.grid-folders-right {
  overflow-x: hidden;
  overflow-y: scroll;
}

.grid-folders-container:after {
  display: block;
  clear: both;
}

#root {
  height: 100%;
}

#main-container {
  height: 100%;
}

#app {
  height: 100%;
}

.sidebar.app-aside + .wrap-content.container-fluid{
  padding: 0;
}

.grid-folders-container {
  padding: 15px;
}

.grid-folders-container.row.no-padding{
  padding: 15px !important;
}


.app-navbar-fixed {
  padding-top: $header-height;
}

#sidebar {

  nav {
    min-height: 100%;

    > ul, .main-navigation-menu {
      margin: 0;
    }
  }
}

.logoVector {
  max-width: 40px;
  max-height: 30px;

  svg{
    max-width: 40px;
    max-height: 30px;
  }
}
.logoVector {
  position: relative;
  top: -10px;
}
.sidebar-content.ps-container > div{
  height: 100%;
  overflow: auto;
}


.input-icon-simple{
  .search-button {
    z-index: 1;
  }
}
