@charset "UTF-8";

@font-face {
  font-family: "imm";
  src:url("../font/imm.eot");
  src:url("../font/imm.eot?#iefix") format("embedded-opentype"),
  url("../font/imm.woff") format("woff"),
  url("../font/imm.ttf") format("truetype"),
  url("../font/imm.svg#imm") format("svg");
  font-weight: normal;
  font-style: normal;
}



[data-icon]:before {
  font-family: "imm" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "imm" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-imm:before {
  content: "\f200";
}
.icon-folder:before {
  content: "\f201";
}
.icon-folder-open:before {
  content: "\f202";
}
.icon-email-filled:before {
  content: "\f203";
}
.icon-imm-5:before {
  content: "\f204";
}
.icon-layout-grid-2:before {
  content: "\f205";
}
.icon-settings-1:before {
  content: "\f206";
}
.icon-imm-7:before {
  content: "\f207";
}
.icon-imm-8:before {
  content: "\f208";
}
.icon-imm-9:before {
  content: "\f209";
}
.icon-imm-10:before {
  content: "\f210";
}
.icon-automation:before {
  content: "\f211";
}
.icon-contacts:before {
  content: "\f212";
}
.icon-subscribers:before {
  content: "\f213";
}
.icon-reports:before {
  content: "\f214";
}
.icon-imm-15:before {
  content: "\f215";
}
.icon-imm-16:before {
  content: "\f216";
}
.icon-settings:before {
  content: "\f217";
}
.icon-imm-18:before {
  content: "\f218";
}
.icon-imm-19:before {
  content: "\f219";
}
.icon-imm-20:before {
  content: "\f220";
}
.icon-imm-21:before {
  content: "\f221";
}
.icon-checked:before {
  content: "\f222";
}
.icon-imm-24:before {
  content: "\f223";
}
.icon-imm-25:before {
  content: "\f224";
}
.icon-upload:before {
  content: "\f225";
}
.icon-imm-26:before {
  content: "\f226";
}
.icon-imm-27:before {
  content: "\f227";
}
.icon-imm-28:before {
  content: "\f228";
}
.icon-trash2:before {
  content: "\f229";
}
.icon-imm-30:before {
  content: "\f230";
}
.icon-imm-31:before {
  content: "\f231";
}
.icon-imm-32:before {
  content: "\f232";
}
.icon-imm-33:before {
  content: "\f233";
}
.icon-imm-34:before {
  content: "\f234";
}
.icon-imm-35:before {
  content: "\f235";
}
.icon-imm-36:before {
  content: "\f236";
}
.icon-imm-37:before {
  content: "\f237";
}
.icon-imm-38:before {
  content: "\f238";
}
.icon-imm-39:before {
  content: "\f239";
}
.icon-imm-40:before {
  content: "\f240";
}
.icon-imm-41:before {
  content: "\f241";
}
.icon-imm-42:before {
  content: "\f242";
}
.icon-imm-43:before {
  content: "\f243";
}
.icon-filter:before {
  content: "\f244";
}
.icon-search:before {
  content: "\f245";
}
.icon-dashboard:before {
  content: "\f246";
}
.icon-assets:before {
  content: "\f247";
}
.icon-email:before {
  content: "\f248";
}
.icon-pen:before {
  content: "\f249";
}
.icon-assets-solid:before {
  content: "\f250";
}
.icon-custom-data-tables:before {
  content: "\f251";
}
.icon-filters:before {
  content: "\f252";
}
.icon-headers-and-footers:before {
  content: "\f253";
}
.icon-lists:before {
  content: "\f254";
}
.icon-snippets:before {
  content: "\f255";
}
.icon-sql:before {
  content: "\f256";
}
.icon-template:before {
  content: "\f257";
}
.icon-exclamation-triangle:before {
  content: "\f258";
}
.icon-x:before {
  content: "\f259";
}
.icon-wand:before {
  content: "\f260";
}
.icon-plus:before {
  content: "\f261";
}
.icon-users:before {
  content: "\f262";
}
.icon-trash:before {
  content: "\f263";
}
.icon-check-square:before {
  content: "\f264";
}
.icon-cloud-upload:before {
  content: "\f265";
}
.icon-themify:before {
  content: "\f266";
}
.icon-angle-double-left:before {
  content: "\f267";
}
.icon-angle-double-right:before {
  content: "\f268";
}
.icon-angle-left:before {
  content: "\f269";
}
.icon-angle-right:before {
  content: "\f270";
}
.icon-external-link-square:before {
  content: "\f271";
}
.icon-files-o:before {
  content: "\f272";
}
.icon-plus-circle:before {
  content: "\f273";
}
.icon-search-1:before {
  content: "\f274";
}
.icon-play-circle:before {
  content: "\f275";
}
.icon-share:before {
  content: "\f276";
}
.icon-download:before {
  content: "\f277";
}
.icon-angle-down:before {
  content: "\f278";
}
.icon-add-folder-icon:before {
  content: "\f279";
}
.icon-dynamic-add-members:before {
  content: "\f280";
}
.icon-client:before {
  content: "\f281";
}
.icon-database:before {
  content: "\f282";
}
.icon-delivery-management:before {
  content: "\f283";
}
.icon-subclient:before {
  content: "\f284";
}
.icon-users2:before {
  content: "\f285";
}
.icon-web-analytics-1:before {
  content: "\f286";
}
.icon-split:before {
  content: "\f287";
}
.icon-collapse-expand-icon-1:before {
  content: "\f288";
}
.icon-content-icon:before {
  content: "\f289";
}
.icon-count-members:before {
  content: "\f290";
}
.icon-deduplicate:before {
  content: "\f291";
}
.icon-envelope-icon:before {
  content: "\f292";
}
.icon-primary-key-in-custom-data-table:before {
  content: "\f293";
}
.icon-refresh-list:before {
  content: "\f294";
}
.icon-web-analytics2:before {
  content: "\f295";
}
.icon-categories:before {
  content: "\f296";
}
.icon-footers:before {
  content: "\f297";
}
.icon-web-analytics:before {
  content: "\f298";
}
.icon-general-settings:before {
  content: "\f299";
}
.icon-user:before {
  content: "\f300";
}
.icon-lock:before {
  content: "\f301";
}
.icon-arrow-circle-right:before {
  content: "\f302";
}
.icon-arrow-circle-left:before {
  content: "\f303";
}
.icon-themify-1:before {
  content: "\f305";
}
.icon-refresh:before {
  content: "\f306";
}
.icon-desktop:before {
  content: "\f307";
}
.icon-tablet:before {
  content: "\f308";
}
.icon-phone:before {
  content: "\f309";
}
.icon-arrow-left:before {
  content: "\f310";
}
.icon-arrow-right:before {
  content: "\f311";
}
.icon-minus:before {
  content: "\f312";
}
.icon-cmm-ipost-lists-icons-count-members:before {
  content: "\f313";
}
.icon-automation-process:before {
  content: "\f314";
}
.icon-cmm-ipost-lists-icons-erase:before {
  content: "\f315";
}
.icon-cmm-ipost-lists-icons-merge:before {
  content: "\f316";
}
.icon-times:before {
  content: "\f317";
}
.icon-themify-2:before {
  content: "\f318";
}
.icon-question:before {
  content: "\f322";
}
.icon-multi-event-icon:before {
  content: "\f323";
}
.icon-drag-and-drop-icontext:before {
  content: "\f324";
}
.icon-journey:before {
  content: "\f325";
}
.icon-process:before {
  content: "\f326";
}
.icon-clear:before {
  content: "\f327";
}
.icon-dragdrop:before {
  content: "\f329";
}
.icon-link:before {
  content: "\f330";
}
.icon-folder-open-1:before {
  content: "\f331";
}
.icon-folder-open-o:before {
  content: "\f332";
}
.icon-ipost-entry-icon:before {
  content: "\f333";
}
.icon-ipost-exit-icon:before {
  content: "\f334";
}
.icon-calendar:before {
  content: "\e000";
}
.icon-send-templates:before {
  content: "\e001";
}
.icon-svg-dragdrop:before {
  content: "\e002";
}
.icon-pie-chart:before {
  content: "\e003";
}
.icon-topic:before {
  content: "\e004";
}
.icon-pencil:before {
  content: "\f304";
}
.icon-22:before {
  content: "\e004";
}
.icon-template-email:before {
  content: "\e005";
}
.icon-text-email:before {
  content: "\e006";
}
.icon-html-email:before {
  content: "\e007";
}
.icon-tag:before {
  content: "\f343";
}
.icon-drag-and-drop-icontext-activities:before {
  content: "\e008";
}
.icon-ipost-drag-and-drop-attributes:before {
  content: "\e009";
}
.icon-list-filter:before {
  content: "\e00a";
}
.icon-custom-data-table-filter:before {
  content: "\e00b";
}
.icon-export-green:before {
  content: "\e00c";
}
.icon-import-green:before {
  content: "\e00d";
}
.icon-import:before {
  content: "\e00e";
}
.icon-export:before {
  content: "\e00f";
}
